</div>
<div class="sidebar">
  <div class="gadget">
    <h2 class="star"><span>Pet</span> Projects</h2>
    <ul class="sb_menu">
      <li><a href="https://kayavail.github.io/kaydog/">HTML CSS Bootstrap Project</a></li>
      <li><a href="https://kayavail.github.io/drumkit/">Drumkit/Piano Project</a></li>
      <li><a href="https://warm-gorge-47807.herokuapp.com/">Newsletter Project</a></li>
      <li><a href="https://todolistbykay.herokuapp.com/">Daily To-do List</a></li>
      <li><a href="https://dailyblogbykay.herokuapp.com/">Blog Project</a></li>
      <li><a href="https://node-app-devt.herokuapp.com/">React Ongoing Project</a></li>
    </ul>
  </div>