<%- include("partials/header") -%>


<p><ol class="projects">
<li><a href="https://kayavail.github.io/kaydog/">HTML CSS Bootstrap Project</a></li>
<li><a href="https://kayavail.github.io/drumkit/">Drumkit/Piano Project</a></li>
<li><a href="https://warm-gorge-47807.herokuapp.com/">Newsletter Project</a></li>
<li><a href="https://todolistbykay.herokuapp.com/">Daily To-do List</a></li>
<li><a href="https://dailyblogbykay.herokuapp.com/">Blog Project</a></li>
<li><a href="https://node-app-devt.herokuapp.com/">React Ongoing Project</li></ol></p>

<%- include("partials/footer") -%>
