<%- include("partials/header") -%>

<div class="">
  <h1>Add new Post</h1>
  <form class="" action="/compose" method="post">
    <div class="form-group">
      <label for="postTitle">Title</label> <br>
      <input class="form-control" id="postTitle" type="text" name="postTitle" required><br>
      <label for="postBody">Post</label><br>
      <textarea class="form-control" id="postBody" name="postBody" rows="5" cols="50"></textarea><br>
      <label for="author">Poster Name</label> <br>
      <input class="form-control" id="author" type="text" name="author" required><br>
    </div>
    <button class="btn btn-primary" type="submit" name="list">Publish</button>
  </form>

</div>

<%- include("partials/footer") -%>
